* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
}

div.menu {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

div.menu ul,
div.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

div.menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

div.menu ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url("bg.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

th {
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d5791;
}

.container {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.center {
    text-align: center;
}

.container div.text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

div.table {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .container .div.text-box {
        margin: 10px;
    }
    .container div.table {
        margin: 10px;
    }
}

/* 
 * Home page and navigation
 */
 body {
    background: #f0f0f0;
  }
  
  #menubar {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .navbar {
    border: none;
  }
  
  #navbar .active a {
    background: #36ac4d;
    color: rgb(31, 31, 31);
    font-weight: bold;
  }
  
  #menubar li :hover {
    background: #36ac4d;
    color: rgb(31, 31, 31);
  }
  
  #menubar .navbar-brand {
    color: #f0f0f0;
  }
  
  #menubar li a {
    color: #f0f0f0;
    width: 110px;
    text-align: center;
  }
  
  #contact {
    padding-right: 70px;
  }
  
  #login {
    padding-right: 100px;
  }
  
  #banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background: #36ac4d;
  }
  
  #banner #head-content {
    background: #36ac4d;
    margin-top: 75px;
    width: 100%;
    height: 300px;
  }
  
  #banner #head-content #web-graphic {
    margin: 0 auto;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    background-image: url("dollarbill.png");
    background-size: 100% 100%;
  }
  
  #banner #head-content #head-title {
    width: 400px;
    margin: 0 auto;
  }
  
  #banner #head-content #head-title h1 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(31, 31, 31);
  }
  
  #banner #head-content #head-title h4 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  /*
   * dashboard
   */
  
  /* #dash-container {
    margin-top: 500px;
  }
  #dash-container .row {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  #dash-container #myChart {
    border: 1px solid black;
  } */
  
  #dash-container {
    background: rgb(31, 31, 31);
    margin-top: 500px;
    margin-bottom: 100px;
  }
  
  #dash-container #container-title {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #f0f0f0;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background: rgb(31, 31, 31);
    text-align: center;
  }
  
  #dash-container .canvas-holder {
    float: left;
    background: rgb(31, 31, 31);
  }
  
  #dash-container .chart-info {
    width: 400px;
    height: 400px;
    
    margin-bottom: 25px;
  }
  
  #dash-container .chart-details {
    width: 400px;
    height: 300px;
    
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #dash-container .chart-details h4 {
    color: #f0f0f0;
  }
  
  #dash-container .chart-details p {
    color: #f0f0f0;
    float: right;
  }
  
  #dash-container #information {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }
  
  #dash-container #information .row {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  #dash-container #information .row header{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
    color: #f0f0f0;
  }
  
  #dash-container #information .row input{
    margin-right: 20px;
  }
  
  /*
   * Home page
   */
  
  #home-container {
    margin-top: 400px;
    margin-bottom: 50px;
  }
  
  #home-container .row .col-sm-6{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  #home-container .row header {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
  }
  
  #home-container .row p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
  }
  
  /* 
   * Login page
   */
  #login-body {
    background: #36ac4d;
  }
  
  #banner-login {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #36ac4d;
    margin-bottom: 200px;
  }
  
  #banner-login #head-content {
    background: #36ac4d;
    margin-top: 75px;
    width: 100%;
    height: 300px;
  }
  
  #banner-login #head-content .login-container {
    background: #f0f0f0;
    width: 600px;
    margin: 0 auto;
    margin-top: 215px;
  }
  
  #banner-login #head-content .login-container #login-header {
    text-align: center;
    padding-top: 40px;
  }
  
  #banner-login #head-content .login-container input,
  label {
    display: block;
    margin-left: 110px;
  }
  
  #banner-login #head-content .login-container #login-header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #banner-login #head-content .login-container #login-header .col-lg-12 {
    font-size: 40px;
  }
  
  #banner-login #head-content .login-container .row .col-lg-12 {
    font-size: 30px;
  }
  
  #banner-login #head-content .login-container #button-col {
    margin-top: 50px;
    margin-bottom: 90px;
  }
  
  #banner-login #head-content .login-container .row .col-lg-12 #login-button {
    margin-left: 110px;
    font-size: 20px;
  }
  
  #banner-login #head-content .login-container .row .col-lg-12 #signup-button {
    margin-left: 20px;
    font-size: 20px;
  }
  
  #banner-login #head-content .login-container .row .col-lg-12 label {
    font-size: 20px;
  }
  
  /*
   * footer 
   */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #00000096;
    text-align: center;
  }
  
  .footer p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    color: #f0f0f0;
  }