<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="authenticationService.user | async">

  <a class="navbar-brand">Budget Manager App</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/addBudget">Add Budget <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addExpense">Add Expense <span class="sr-only">(current)</span></a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item pointer">
              <a class="nav-link" (click)="logout()">Logout</a>
          </li>
      </ul>
  </div>
</nav>

<body *ngIf="authenticationService.user | async">
    <div class="container-fluid" id="banner">
      <div class="container" id="head-content">
        <div id="web-graphic"></div>
        <div id="head-title">
          <h1>Budget Manager</h1>
          <h4>manage your personal budget</h4>
        </div>
      </div>
    </div>
<hr>
    <h1>Pie Graph of Budget and Expenses</h1>
    <br>
    <pb-pie-graph></pb-pie-graph>

    <br>

    <h1>Bar Graph of Budget and Expenses</h1>
    <br>
    <pb-bar-graph></pb-bar-graph>

    <br>

    <h1>Bar Graph of Budget and Expenses</h1>
    <br>
    <pb-line-graph></pb-line-graph>
    <div class="bottom">
        <div class="center">
            By: Dylan Van Wagner
        </div>
    </div>
  </body>
