<div class="login-wrapper">
  <div class="card">
      <div class="card-body">
          <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

              <label for="inputlogin" class="sr-only">Login </label>
              <input type="text" id="inputLogin" class="form-control" name="login" placeholder="Login" ngModel
                  required autofocus>

              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                  autocomplete="on" ngModel required>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

              <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                  Please fill all fields.
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                  Invalid user or password.
              </div>
          </form>
      </div>
  </div>
</div>

    <!--footer-->
    <div class="footer">
      <p>Author: Dylan Van Wagner</p>
    </div>

    <script>
      function login() {
        const data = {
          username: document.getElementById("username").value,
          password: document.getElementById("password").value,
        };
        axios.get("/login", data).then((res) => {
          console.log(res);
          document.getElementById("username").value = "";
          document.getElementById("password").value = "";
          if (res && res.data && res.data.success) {
            const token = res.data.token;
            localStorage.setItem("jwt", token);
            getDashboard();
          }
        });
      }

      function getDashboard() {
        axios
          .get("/dashboard.html", {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("jwt")}`,
            },
          })
          .then((res) => {
            if (res && res.data && res.data.success) {
              document.querySelector("body").innerHTML = res.data.myContent;
              history.pushState(null, null, "/dashboard.html");
            }
          });
      }

      function signUp() {

      }

    //   function signUp() {
    //     const token = localStorage.getItem('jwt');
    //     axios.get('/login', {
    //         headers: {
    //             'Authorization': `Bearer ${token}`
    //         }
    //     }).then(res => {
    //         if (res && res.data && res.data.success) {
    //             history.pushState(null, null, '/login');
    //             document.querySelector('h1.row').innerHTML = 'Sign up';
    //             document.querySelector('main').innerHTML = res.data.myContent;
    //         }
    //     });
    // }

      function logout() {
        localStorage.clear();
        window.location.reload();
        window.location.href = "/login.html";
      }

      function onLoad() {
        const token = localStorage.getItem("jwt");
        if (token) {
          getDashboard();
        }
      }
      onLoad();
    </script>
